<!-- $Id: article_info.htm 16780 2009-11-09 09:28:30Z sxc_shop $ -->
<!-- 修改 by www.68ecshop.com 百度编辑器 begin -->
{include file="pageheader_bd.htm"}
{insert_scripts files="../js/utils.js,selectzone_bd.js,validator.js"}
<!-- 修改 by www.68ecshop.com 百度编辑器 end -->
<!-- start goods form -->
<div class="tab-div">
  <div id="tabbar-div">
    <p>
      <span class="tab-front" id="general-tab">{$lang.tab_general}</span><span
      class="tab-back" id="detail-tab">{$lang.tab_content}</span><span
      class="tab-back" id="goods-tab">{$lang.tab_goods}</span>
    </p>
  </div>

  <div id="tabbody-div">
    <form  action="article.php" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return validate();">
    <table width="100%" id="general-table">
      <tr>
        <td class="narrow-label">{$lang.title}</td>
        <td><input type="text" name="title" size ="40" maxlength="60" value="{$article.title|escape}" />{$lang.require_field}</td>
      </tr>          
      <!-- {if $article.cat_id >= 0} -->
      <tr>
        <td class="narrow-label">{$lang.cat} </td>
        <td>
          <select name="article_cat" onchange="catChanged()">
            <option value="0">{$lang.select_plz}</option>
            {$cat_select}
          </select>
         {$lang.require_field}</td>
      </tr>
      <!-- {else} -->
      <input type="hidden" name="article_cat" value="-1" />
      <!-- {/if} -->
      {if $article.cat_id >= 0}
      <tr>
        <td class="narrow-label">{$lang.article_type}</td>
        <td><input type="radio" name="article_type" value="0" {if $article.article_type eq 0}checked{/if}>{$lang.common}
      <input type="radio" name="article_type" value="1" {if $article.article_type eq 1}checked{/if}>{$lang.top}
        {$lang.require_field}        </td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.is_open}</td>
        <td>
        <input type="radio" name="is_open" value="1" {if $article.is_open eq 1}checked{/if}> {$lang.isopen}
      <input type="radio" name="is_open" value="0" {if $article.is_open eq 0}checked{/if}> {$lang.isclose}{$lang.require_field}        </td>
      </tr>
      {else}
      <tr style="display:none">
      <td colspan="2"><input type="hidden" name="article_type" value="0" /><input type="hidden" name="is_open" value="1" /></td>
      </tr>
      {/if}
      <tr>
        <td class="narrow-label">{$lang.author}</td>
        <td><input type="text" name="author" maxlength="60" value="{$article.author|escape}" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.email}</td>
        <td><input type="text" name="author_email" maxlength="60" value="{$article.author_email|escape}" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.keywords}</td>
        <td><input type="text" name="keywords" maxlength="60" value="{$article.keywords|escape}" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.lable_description}</td>
        <td><textarea name="description" id="description" cols="40" rows="5">{$article.description|escape}</textarea></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.external_links}</td>
        <td><input name="link_url" type="text" id="link_url" value="{if $article.link neq ''}{$article.link|escape}{else}http://{/if}" maxlength="60" /></td>
      </tr>
      <tr>
        <td class="narrow-label">{$lang.upload_file}</td>
        <td><input type="file" name="file">
          <span class="narrow-label">{$lang.file_url}
          <input name="file_url" type="text" value="{$article.file_url|escape}" size="30" maxlength="255" />
          </span></td>
      </tr>
    </table>

    <table width="100%" id="detail-table" style="display:none">
     <tr><td>{$FCKeditor}</td></tr>
    </table>

    <table width="100%" id="goods-table" style="display:none">
      <!-- 商品搜索 -->
      <tr>
      <td colspan="5">
        <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
        <!-- 分类 -->
        <select name="cat_id"><option value="0">{$lang.all_category}</caption>{$goods_cat_list}</select>
        <!-- 品牌 -->
        <select name="brand_id"><option value="0">{$lang.all_brand}</caption>{html_options options=$brand_list}</select>
        <!-- 关键字 -->
        <input type="text" name="keyword" size="30" />
        <input type="button" value="{$lang.button_search}" onclick="searchGoods(sz, 'cat_id','brand_id','keyword')" class="button" />
      <td>
      </tr>
      <!-- 商品列表 -->
      <tr>
					<th>{$lang.all_goods}</th>
					<th>{$lang.link_goods}</th>
				</tr>
				<tr>
					<td width="50%" valign="top">
						<div class="relative_goods" id="relative_goods1">
						
                        </div>
					</td>
					<td width="50%" class="relative_left" valign="top">
                    
                 <input name="relative_goods_all" type="checkbox" value="1" onclick="selectAll(this,'link_goods')"/> 全选
                       <div class="relative_goods" id="relative_goods2">
						{foreach from=$link_goods_list item=link_goods name=link_goods}
                           <dl class="link_goods_{$link_goods.goods_id}" id="link_goods_{$link_goods.goods_id}">
                             <dt>
                               <img src="./../{$link_goods.goods_thumb}" width="150" height="150"/>
                             </dt>
                             <dd>
                                <div class="goods_name">{$link_goods.goods_name}</div>
                                <div>
                                   <span class="selectd"><input name="link_goods[]" type="checkbox" value="{$link_goods.goods_id}" checked="checked" /> 选择</span>
                                </div>
                             </dd>
                           </dl>
                           
                        {/foreach}
                        </div>
					</td>
				</tr>
			</table>
            
<script>

function selectAll(obj, chk)
{

  if (chk == null)
  {
    chk = 'checkboxes';
  }

  var elems = obj.form.getElementsByTagName("INPUT");

  for (var i=0; i < elems.length; i++)
  {
    if (elems[i].name == chk || elems[i].name == chk + "[]")
    {
      elems[i].checked = obj.checked;
    }
  }

}
$(document).ready(function(){
				
  $(".unselectitem").find(".selectGoodsCheck").live('click',function(){
 
      var goods_id = $(this).val();
	  if($(this).hasClass('checked')){
		  $(this).removeClass('checked');
		  $(".link_goods_text_"+goods_id).html('选择');
		 $("#link_goods_"+goods_id).remove();
	  }
	  else
	  {   
	      
		   $(this).addClass('checked');
		   $(this).attr('checked',true);
		   if($("#relative_goods2").find(".link_goods_"+goods_id).length==0)
		   {
		       var html =  "<dl class=\"link_goods_"+goods_id+"\" id=\"link_goods_"+goods_id+"\">";
			   html += $(".unselectitem_"+goods_id).html();
			   html +=  "</dl>";
			   
			   html = html.replace('class="selectGoodsCheck"','class="selectGoodsCheck" checked="checked"'),
			   $("#relative_goods2").prepend(html);
		   }
		   
		   var cartItem=$("#link_goods_"+goods_id);
		   var img=$("#link_goods_img_"+goods_id+"");
		   var newImg = img.clone().addClass('img-clone').css({"top": $(this).offset().top, "left": $(this).offset().left}).show();
		   newImg.appendTo("body").animate({top:cartItem.offset().top, left: cartItem.offset().left, width: 45, height:45}, {duration: 800,  complete: function(){ newImg.remove(); }});
		 	  
			  
		   $(".link_goods_"+goods_id).find('.selectGoodsCheck').attr('checked',true);
		   //$(".link_goods_text_"+goods_id).html('已选择');
		   
	  }
	  
	  
});


	
				
			});
			</script>
    </table>
    <div class="button-div">
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="old_title" value="{$article.title}"/>
      <input type="hidden" name="id" value="{$article.article_id}" />
      <input type="submit" value="{$lang.button_submit}" class="button"  />
      <input type="reset" value="{$lang.button_reset}" class="button" />
    </div>
    </form>
  </div>

</div>
<!-- end goods form -->
<script language="JavaScript">

var articleId = {$article.article_id|default:0};
var elements  = document.forms['theForm'].elements;
var sz        = new SelectZone(1, elements['source_select'], elements['target_select'], '');

{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function validate()
{
  var validator = new Validator('theForm');
  validator.required('title', no_title);
{/literal}
{if $article.cat_id >= 0}
  validator.isNullOption('article_cat',no_cat);
{/if}
{literal}

  return validator.passed();
}

document.getElementById("tabbar-div").onmouseover = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-back")
    {
        obj.className = "tab-hover";
    }
}

document.getElementById("tabbar-div").onmouseout = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-hover")
    {
        obj.className = "tab-back";
    }
}

document.getElementById("tabbar-div").onclick = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-front")
    {
        return;
    }
    else
    {
        objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

        var tables = document.getElementsByTagName("table");
        var spans  = document.getElementsByTagName("span");

        for (i = 0; i < tables.length; i++)
        {
            if (tables[i].id == objTable)
            {
                tables[i].style.display = (Browser.isIE) ? "block" : "table";
            }
            else
            {
                tables[i].style.display = "none";
            }
        }
        for (i = 0; spans.length; i++)
        {
            if (spans[i].className == "tab-front")
            {
                spans[i].className = "tab-back";
                obj.className = "tab-front";
                break;
            }
        }
    }
}

function showNotice(objId)
{
    var obj = document.getElementById(objId);

    if (obj)
    {
        if (obj.style.display != "block")
        {
            obj.style.display = "block";
        }
        else
        {
            obj.style.display = "none";
        }
    }
}

function searchGoods(szObject, catId, brandId, keyword)
  {
      var filters = new Object;

      filters.cat_id = elements[catId].value;
      filters.brand_id = elements[brandId].value;
      filters.keyword = Utils.trim(elements[keyword].value);
	  
	  Ajax.call('goods.php?is_ajax=1&act=get_goods_list', filters, searchGoodsResponse, 'GET', 'JSON');
  }
  
  function searchGoodsResponse(res)
  {
	  $("#relative_goods1").html(res.result)
  }
{/literal}

/**
 * 选取上级分类时判断选定的分类是不是底层分类
 */
function catChanged()
{
  var obj = document.forms['theForm'].elements['article_cat'];

  cat_type = obj.options[obj.selectedIndex].getAttribute('cat_type');
  if (cat_type == undefined)
  {
    cat_type = 1;
  }

  if ((obj.selectedIndex > 0) && (cat_type == 2 || cat_type == 4))
  {
    alert(not_allow_add);
    obj.selectedIndex = 0;
    return false;
  }

  return true;
}
</script>
{include file="pagefooter.htm"}