<!-- $Id: brand_list.htm 15898 2009-05-04 07:25:41Z liuhui $ -->
<style type="text/css">
.icon {display: block; float:right; max-width: 30px; max-height: 30px; position: relative;}
.icon a {position:relative; display:block; background:transparent;}
.icon a .img1 {max-width:30px; max-height:30px;}
.icon a .img2 {max-width:280px; max-height:280px; position:absolute;left:40px; top:-20px; display:none; z-index:99999}
.icon a:hover .img2{display:block}

.pic {display: block; float:left; max-width: 120px; max-height: 120px; position: relative; margin:0px 10px 0px 0px;}
.pic a {position:relative; display:block; background:transparent;}
.pic a .img1 {max-width:120px; max-height:120px;}
.pic a .img2 {max-width:280px; max-height:280px; position:absolute;left:130px; top:-60px; display:none; z-index:99999}
.pic a:hover .img2{display:block}
</style>

<a id="top" name="top"></a>

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- 品牌搜索 -->
{include file="brand_search.htm"}
<!-- 商品列表 -->
<form method="post" action="" name="listForm" id="listForm" onsubmit="return confirmSubmit(this)">
<!-- start brand list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
	  <th><a href="javascript:listTable.sort('brand_id'); ">id</a></th>
      <th>{$lang.brand_name}</th>
	  <th>{$lang.site_url}</th>

      <th style="{if $filter.is_show_keywords eq 0} display:none;{/if}">{$lang.keyword}</th>
      
      <th style="{if $filter.is_show_desc eq 0} display:none;{/if}">{$lang.brand_desc}</th>
      
	  <th style="{if $filter.is_show_policy eq 0} display:none;{/if}">{$lang.brand_policy}</th>

      <th><a href="javascript:listTable.sort('sort_order'); ">{$lang.sort_order}</a></th>
      <th><a href="javascript:listTable.sort('is_show'); ">{$lang.is_show}</a></th>
      <th><a href="javascript:listTable.sort('is_best'); ">{$lang.is_best}</a></th>
      <th>始于 所在地</th>
      <th><a href="javascript:listTable.sort('item_num'); ">商品数</a></th>
      <th><a href="javascript:listTable.sort('sold_num'); ">销量</a></th>
      <th><a href="javascript:listTable.sort('favorite_num'); ">{$lang.favorite_num}</a></th>
      <th><a href="javascript:listTable.sort('review_num'); ">{$lang.review_num}</a></th>
      <th><a href="javascript:listTable.sort('update_date'); ">更新日期</a></th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$brand_list item=brand}
    <tr>
	  <td class="first-cell">
        <input type="checkbox" name="checkboxes[]" value="{$brand.brand_id}" /> </br>
        {$brand.brand_id}
      </td>
      <td class="first-cell">
        {if ($brand.brand_logo)}
        <div class="icon">
          <a>
            <img src="{if substr($brand.brand_logo,0,4)!='http' }../{/if}{$brand.brand_logo}" border="0" title="" class="img1"/> 
	        <img src="{if substr($brand.brand_logo,0,4)!='http' }../{/if}{$brand.brand_logo}" border="0" title="" class="img2"/>
		  </a>
        </div>	
        {/if} 
        <span onclick="javascript:listTable.edit(this, 'edit_brand_name', {$brand.brand_id})">{$brand.brand_name|escape:html}</span> </br>
        <span onclick="javascript:listTable.edit(this, 'edit_brand_name_cn', {$brand.brand_id})">{$brand.brand_name_cn|default:N/A}</span>
      </td>	  
      <td><a href="{$brand.site_url}" title="{$brand.site_url}" target="_blank">by:{$brand.built_with}</a></td>

      <td style="{if $filter.is_show_keywords eq 0} display:none;{/if}">
        <span onclick="javascript:listTable.edit1(this, 'edit_keywords', {$brand.brand_id})">{$brand.keywords|default:N/A}</span>
      </td>
      
      <td style="{if $filter.is_show_desc eq 0} display:none;{/if}">{$brand.brand_desc|truncate:36}</td>
           
	  <td style="{if $filter.is_show_policy eq 0} display:none;{/if}"><span onclick="javascript:listTable.edit1(this, 'edit_brand_policy', {$brand.brand_id})">{$brand.brand_policy}<span style="color:red;"> 编辑</span></span></td>
      
      <td align="right"><span onclick="javascript:listTable.edit(this, 'edit_sort_order', {$brand.brand_id})">{$brand.sort_order}</span></td>
      <td align="center"><img src="images/{if $brand.is_show}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show', {$brand.brand_id})" /></td>
      <td align="center"><img src="images/{if $brand.is_best}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_best', {$brand.brand_id})" /></td>
      <td>{$brand.since_date} </br> {$brand.location}</td>
      <td>{$brand.item_num}</td>
      <td>{$brand.sold_num}</td>
      <td>{$brand.favorite_num}</td>
      <td>{$brand.review_num} </br> {$brand.review_rate}</td>
      <td align="center">{$brand.update_date}</td>
      
      <td align="center">
        <a href="brand.php?act=edit&id={$brand.brand_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" width="16" height="16" border="0" /></a>
        <a href="javascript:;" onclick="listTable.remove({$brand.brand_id}, '{$lang.drop_confirm}')" title="{$lang.edit}"><img src="images/icon_trash.gif" width="16" height="16" border="0" /></a> 
      </td>
    </tr>
    
    <tr style="{if $filter.is_show_card eq 0} display:none;{/if}"><td colspan="13">
    {foreach from=$brand.goods item=item}
    <div class="pic">   
      <a href="{$item.collect_link}" title="{$item.goods_name}(${$item.shop_price})" target="_blank">
        <img src="{if substr($item.goods_thumb,0,4)!='http' }../{/if}{$item.goods_thumb}" border="0" title="" class="img1"/> 
        <img src="{if substr($item.goods_img,0,4)!='http' }../{/if}{$item.goods_img}" border="0" title="" class="img2"/>
      </a>
    </div>
	{/foreach}
    </td></tr>
    
    {foreachelse}
    <tr><td class="no-records" colspan="13">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
  
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
	<td align="left" nowrap="true">
    <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" /> 全选
	<a href="#top" class="special">回到顶部</a>
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
<!-- end brand list -->
</div>


<div>
  <input type="hidden" name="act" value="batch" />
  <select name="type" id="selAction" onchange="changeAction()">
    <option value="">{$lang.select_please}</option>

    {if $list_type neq "trash"}
    <option value="restore">{$lang.restore}</option>
    <option value="drop">{$lang.remove}</option>
    {/if}
    
	{if $list_type neq "trash"}  
    <option value="trash">{$lang.trash}</option>
    
    <option value="show">{$lang.is_show}</option>
    <option value="not_show">{$lang.not_show}</option>
    <option value="best">{$lang.is_best}</option>
    <option value="not_best">{$lang.not_best}</option>

	<option value="edit_policy">编辑政策</option>
	
	{/if}
  </select>
  
  <input type="text" name="policy_prefix" style="display:none" size="10"></input> 
  <input type="text" name="policy_middle" style="display:none" size="20"></input> 
  <input type="text" name="policy_postfix" style="display:none" size="10"></input>
  

  <input type="button" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" id="btnSubmit" class="button"/>
  <span id="handel_success" style="color:#F00"></span>
  
</div>

</form>

<script type="text/javascript">
$("#btnSubmit").click(function()
{	
		var data = $('#listForm').serialize();
		if($("input[name='checkboxes[]']:checked").length > 0)
		{
			$.ajax({
			url:"brand.php?act=batch",
			dataType:'json',
			type:"POST",
			data:data,
			beforeSend:function() {  
			   $("#btnSubmit").val("正在提交...").attr('disabled',true);
			},  
			complete:function(result) {  
			   $("#btnSubmit").val("{$lang.button_submit}").attr('disabled',false);
			},  
			success:function(result){
			   $("#btnSubmit").val("{$lang.button_submit}").attr('disabled',false);
				//document.getElementById('listDiv').innerHTML = result.content;
			   $("#handel_success").html(result.content);	
				
			},
			error:function(){
				$("#btnSubmit").val("{$lang.button_submit}").attr('disabled',false);
				alert("出错了,请刷新页面重试:(");
			}
			});
			listTable.query = 'query';
			listTable.loadList();
		}
		else
		{			
			alert("请至少选择一个商品！");
			return false;
		}

		
	}
);
   
   
   
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    startCheckOrder(); // 开始检查订单
    document.forms['listForm'].reset();
  }

  /**
   * @param: bool ext 其他条件：用于转移分类
   */
  function confirmSubmit()
  {
     
  }

  function changeAction()
  {	
      var frm = document.forms['listForm'];

	  frm.elements['policy_prefix'].style.display = frm.elements['type'].value == 'edit_policy' ? '' : 'none';
	  frm.elements['policy_postfix'].style.display = frm.elements['type'].value == 'edit_policy' ? '' : 'none';
	  frm.elements['policy_middle'].style.display = frm.elements['type'].value == 'edit_policy' ? '' : 'none';	
	  	
  }
{/literal}
</script>
{include file="pagefooter.htm"}
{/if}