<!-- $Id: brand_search.htm 2009-05-04 liuhui $ -->
<div class="form-div">
  <form action="javascript:;" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
      <select name="intro_type"><option value="0">{$lang.intro_type}</option>{html_options options=$intro_list selected=$smarty.get.intro_type}</select>
	
    <!-- ио╪э -->
      <select name="is_show"><option value=''>{$lang.intro_type}</option><option value="1">{$lang.is_show}</option><option value="0">{$lang.not_show}</option></select>
    
     {$lang.favorite_num}<input type="text" name="favorite_num" style="min-width:50px; width:50px;"/>
     {$lang.review_num}<input type="text" name="review_num" style="min-width:50px; width:50px;"/>
     
     {$lang.keyword}<input type="text" name="keyword" size="15" />
    <input type="button" value="{$lang.button_search}" class="button" onclick="search_brand()" />
    <input type="hidden" value="query" name="act"/>
        
    <input name="is_show_card" type="checkbox" value="1" onclick="search_brand()" {if $filter.is_show_card eq 1} checked="checked"{/if}/> {$lang.product_img} | 
	
    <input name="is_show_keywords" type="checkbox" value="1" onclick="search_brand()" {if $filter.is_show_keywords eq 1} checked="checked"{/if} /> {$lang.keyword}
    <input name="is_show_desc" type="checkbox" value="1" onclick="search_brand()" {if $filter.is_show_desc eq 1} checked="checked"{/if}/> {$lang.brand_desc}
	<input name="is_show_policy" type="checkbox" value="1" onclick="search_brand()" {if $filter.is_show_policy eq 1} checked="checked"{/if}/> {$lang.brand_policy}
	
  </form>
</div>
{literal}
<script language="JavaScript">
    function search_brand()
    {
{/literal}

        document.searchForm.act.value='query';
        
        listTable.filter['intro_type'] = document.forms['searchForm'].elements['intro_type'].value;
        listTable.filter['is_show'] = document.forms['searchForm'].elements['is_show'].value;
        
        listTable.filter['favorite_num'] = Utils.trim(document.forms['searchForm'].elements['favorite_num'].value);
		listTable.filter['review_num'] = Utils.trim(document.forms['searchForm'].elements['review_num'].value);
		
        listTable.filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        /*listTable.filter['page'] = 1;*/

        listTable.filter['is_show_card'] = (document.searchForm.is_show_card.checked==true) ? 1 : 0;
		listTable.filter['is_show_keywords'] = (document.searchForm.is_show_keywords.checked==true) ? 1 : 0;
		listTable.filter['is_show_desc'] = (document.searchForm.is_show_desc.checked==true) ? 1 : 0;
		listTable.filter['is_show_policy'] = (document.searchForm.is_show_policy.checked==true) ? 1 : 0;
		
{if $list_type eq "trash"}
		listTable.filter['is_delete'] = 1;
{/if}
        
        listTable.loadList();
        
{literal}        
    }

</script>
{/literal}